
.logo {
    height: 5rem;
}
.nav-link {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
}

.my-container{
    text-align: center;
    margin: auto;
    /*transform: translate(-50%,-50%);*/
    width: 100%;
}
.my-container span {
    font-family: 'Francois One', sans-serif;
    color: #000;
    text-transform: uppercase;
    display: block;

}
.text1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #f5f8fa;
    position: relative;
    animation: text 3s 1;
}
.text2{
    font-size: 30px;
    color:#fd7c00 !important;
}
@keyframes text {
    0%{
        margin-bottom: -40px;
        color: #f5f8fa;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
.cars {
    height: 250px;
    width: 250px;
    border:2px solid #f37400;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 50px;
}
img {
    padding: 10px;
}
h3 {
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
    color: #000;

}
a:link {
    text-decoration: none;
}
.color-item {
    background: grey;
}
.my-flex-container {
    display: flex;
    justify-content: space-between;
}
.my-own-color-list-group {

    background: #f37400 !important;

}
.p-construct {
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
    color: #000;
}