html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.4rem;
}
h1 {
    font-size: 2.4rem;
}

.container__item {
    margin: 0 auto 0;
}

.landing-page-container {
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background-image: url("img/background.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: "monospace",sans-serif;
    color: floralwhite;
}

.content-wrapper {
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header {
    width: 100%;
    height: 2rem;
    padding: 3rem 0;
    display: block;
    text-align: center;
}

.heading {
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.7rem;
    margin: 0 30px;
    text-align: center;
}
.ellipse-container {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 7rem;
}
.ellipse-container .greeting {
    position: relative;
    top: 14rem;
    left: -6rem;
    right: 0;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 4rem;
    font-size: 8rem;
    font-weight: 400;
    opacity: .9;
}
.ellipse-container .greeting:after {
    content: '';
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    display: inline-block;
    background-color:#0C383E;
    position: relative;
    top: -0.65rem;
    left: -5.05rem;
}
.ellipse {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
}
.ellipse__outer--thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(9,56,62,1);
    animation: ellipseOrbit 15s ease-in-out infinite;
}
.ellipse__outer--thick {
    width: 99.5%;
    height: 99.5%;
    border-color: whitesmoke transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    animation: ellipseRotate 15s ease-in-out infinite;
}

@keyframes ellipseRotate {
    0% {
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(-405deg);
    }
}

.button {
    text-transform: uppercase;
    height: 5rem;
    color: whitesmoke;
    font-family: "monospace", sans-serif;
    cursor: pointer;
    text-decoration: none;
    padding-right: 2rem;
}
.menu {
    height: 15px;
    margin-top: 2rem;
    cursor: pointer;
}
.home-link{
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: "monospace", sans-serif;
    height: 5rem;
}
@media only screen and (max-width: 480px) {

    .header{
        margin-top: 5rem;
    }
    .ellipse-container {
        width: 23rem;
        height: 23rem;
        top: 15rem;
    }
    .ellipse-container .greeting {
        top: 7rem;
        left: -3.2rem;
        letter-spacing: 1.8rem;
        font-size: 3rem;
    }

}
@media (min-width: 768px) and (max-width: 1024px){
    .ellipse-container .greeting {
        letter-spacing: 2.9rem;
    }
    .ellipse-container {
        top: 30rem;
    }
    .button {
        font-size: 2rem;
        width: 100%;
    }
    .menu {
        height: 30px;
        margin-top: 3em;
    }
}
